.container{
    cursor: pointer;
}
.card{
    display: flex;
    flex-direction: column;
    border-radius: 100%;
    border-style: none;
    width: 280px;
    background-color: rgb(255, 255, 255);
    transition: 0.2s;
    overflow: hidden;
}
.card:hover{
    border-color: rgb(255, 145, 0);
    border: 5px solid;
    color: var(--clr-10-R);
    box-shadow: 2px 10px 10px 10px rgb(133, 133, 133);
    text-shadow: 3px 1px 0px rgb(202, 202, 202);
       
}
.title{
    font-size: 25px;
    font-weight: bold;
    bottom: 0px;
    font-weight: bold; 
     color: var(--clr-10-R);

}
.img{
    background-size: cover;
    background-position: center;
    overflow: hidden;
   
}
