body {
  height: auto;
  margin: 0;
  font-family: Consolas;
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  border: var(--border);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
  background-image: var(--image);
}

body.light {
  --background-color: var(--clr-7-05);
  --text-color: var(--clr-4-G);
  --box-shadow: 0 0 7px var(--clr-9);
  --border: 1px solid var(--clr-0-G);
  --image: url(../public/image/lightBack2.jpg);
}
body.dark {
  --background-color: var(--clr-9-05);
  --text-color: var(--clr-7-R);
  --box-shadow: 0 0 7px var(--clr-0);
  --border: 1px solid #ff3c00;
  --image: url(../public/image/darkBack2.jpg);
}

/* #h1 {
  color: var(--text-color);
}

#h1.light {
  --text-color: var(--clr-10-R);
}

#h1.dark {
  --text-color: var(--clr-0-R);
} */

#image {
  width: 100vw;
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.7s ease-in-out;
  background-image: var(--image);
}

code {
  font-family: Consolas;
}
:root {
  /* solid */
  --clr-0: rgb(255, 255, 255);
  --clr-1: rgb(248, 249, 250);
  --clr-2: rgb(233, 236, 239);
  --clr-3: rgb(222, 226, 230);
  --clr-4: rgb(206, 212, 218);
  --clr-5: rgb(173, 181, 189);
  --clr-6: rgb(108, 117, 125);
  --clr-7: rgb(73, 80, 87);
  --clr-8: rgb(52, 58, 64);
  --clr-9: rgb(33, 37, 41);
  --clr-10: rgb(7, 7, 7);
  /* glass 0.5*/
  --clr-0-05: rgba(255, 255, 255, 0.5);
  --clr-1-05: rgba(248, 249, 250, 0.5);
  --clr-2-05: rgba(233, 236, 239, 0.5);
  --clr-3-05: rgba(222, 226, 230, 0.5);
  --clr-4-05: rgba(206, 212, 218, 0.5);
  --clr-5-05: rgba(173, 181, 189, 0.5);
  --clr-6-05: rgba(108, 117, 125, 0.5);
  --clr-7-05: rgba(73, 80, 87, 0.5);
  --clr-8-05: rgba(52, 58, 64, 0.5);
  --clr-9-05: rgba(33, 37, 41, 0.5);
  --clr-10-05: rgba(7, 7, 7, 0.5);
  /* glass 0.25*/
  --clr-0-025: rgba(255, 255, 255, 0.25);
  --clr-1-025: rgba(248, 249, 250, 0.25);
  --clr-2-025: rgba(233, 236, 239, 0.25);
  --clr-3-025: rgba(222, 226, 230, 0.25);
  --clr-4-025: rgba(206, 212, 218, 0.25);
  --clr-5-025: rgba(173, 181, 189, 0.25);
  --clr-6-025: rgba(108, 117, 125, 0.25);
  --clr-7-025: rgba(73, 80, 87, 0.25);
  --clr-8-025: rgba(52, 58, 64, 0.25);
  --clr-9-025: rgba(33, 37, 41, 0.25);
  --clr-10-025: rgba(7, 7, 7, 0.25);

  /* solid yellow-red */
  --clr-0-R: rgba(255, 200, 0, 1);
  --clr-1-R: rgba(255, 180, 0, 1);
  --clr-2-R: rgba(255, 160, 0, 1);
  --clr-3-R: rgba(255, 140, 0, 1);
  --clr-4-R: rgba(255, 120, 0, 1);
  --clr-5-R: rgba(255, 100, 0, 1);
  --clr-6-R: rgba(255, 80, 0, 1);
  --clr-7-R: rgba(255, 60, 0, 1);
  --clr-8-R: rgba(255, 40, 0, 1);
  --clr-9-R: rgba(255, 20, 0, 1);
  --clr-10-R: rgba(255, 0, 0, 1);

  /* solid green-blue */
  --clr-0-G: rgba(15, 255, 195, 1);
  --clr-1-G: rgba(18, 246, 200, 1);
  --clr-2-G: rgba(20, 238, 205, 1);
  --clr-3-G: rgba(23, 229, 211, 1);
  --clr-4-G: rgba(26, 221, 216, 1);
  --clr-5-G: rgba(29, 212, 221, 1);
  --clr-6-G: rgba(31, 203, 226, 1);
  --clr-7-G: rgba(34, 195, 231, 1);
  --clr-8-G: rgba(37, 186, 237, 1);
  --clr-9-G: rgba(39, 178, 242, 1);
  --clr-10-G: rgba(42, 169, 247, 1);

  /* solid green-blue 0.5 */
  --clr-0-G-05: rgba(15, 255, 195, 0.5);
  --clr-1-G-05: rgba(18, 246, 200, 0.5);
  --clr-2-G-05: rgba(20, 238, 205, 0.5);
  --clr-3-G-05: rgba(23, 229, 211, 0.5);
  --clr-4-G-05: rgba(26, 221, 216, 0.5);
  --clr-5-G-05: rgba(29, 212, 221, 0.5);
  --clr-6-G-05: rgba(31, 203, 226, 0.5);
  --clr-7-G-05: rgba(34, 195, 231, 0.5);
  --clr-8-G-05: rgba(37, 186, 237, 0.5);
  --clr-9-G-05: rgba(39, 178, 242, 0.5);
  --clr-10-G-05: rgba(42, 169, 247, 0.5);

  /* solid green-blue 0.25 */
  --clr-0-G-025: rgba(15, 255, 195, 0.25);
  --clr-1-G-025: rgba(18, 246, 200, 0.25);
  --clr-2-G-025: rgba(20, 238, 205, 0.25);
  --clr-3-G-025: rgba(23, 229, 211, 0.25);
  --clr-4-G-025: rgba(26, 221, 216, 0.25);
  --clr-5-G-025: rgba(29, 212, 221, 0.25);
  --clr-6-G-025: rgba(31, 203, 226, 0.25);
  --clr-7-G-025: rgba(34, 195, 231, 0.25);
  --clr-8-G-025: rgba(37, 186, 237, 0.25);
  --clr-9-G-025: rgba(39, 178, 242, 0.25);
  --clr-10-G-025: rgba(42, 169, 247, 0.25);
}
