body {
  margin: 0;
  font-family: Consolas;
}

code {
  font-family: Consolas;
}
:root {
  /* solid */
  --clr-0: rgb(255, 255, 255);
  --clr-1: rgb(248, 249, 250);
  --clr-2: rgb(233, 236, 239);
  --clr-3: rgb(222, 226, 230);
  --clr-4: rgb(206, 212, 218);
  --clr-5: rgb(173, 181, 189);
  --clr-6: rgb(108, 117, 125);
  --clr-7: rgb(73, 80, 87);
  --clr-8: rgb(52, 58, 64);
  --clr-9: rgb(33, 37, 41);
  --clr-10: rgb(7, 7, 7);
  /* glass 0.5*/
  --clr-0-05: rgba(255, 255, 255, 0.5);
  --clr-1-05: rgba(248, 249, 250, 0.5);
  --clr-2-05: rgba(233, 236, 239, 0.5);
  --clr-3-05: rgba(222, 226, 230, 0.5);
  --clr-4-05: rgba(206, 212, 218, 0.5);
  --clr-5-05: rgba(173, 181, 189, 0.5);
  --clr-6-05: rgba(108, 117, 125, 0.5);
  --clr-7-05: rgba(73, 80, 87, 0.5);
  --clr-8-05: rgba(52, 58, 64, 0.5);
  --clr-9-05: rgba(33, 37, 41, 0.5);
  --clr-10-05: rgba(7, 7, 7, 0.5);
  /* glass 0.25*/
  --clr-0-025: rgba(255, 255, 255, 0.25);
  --clr-1-025: rgba(248, 249, 250, 0.25);
  --clr-2-025: rgba(233, 236, 239, 0.25);
  --clr-3-025: rgba(222, 226, 230, 0.25);
  --clr-4-025: rgba(206, 212, 218, 0.25);
  --clr-5-025: rgba(173, 181, 189, 0.25);
  --clr-6-025: rgba(108, 117, 125, 0.25);
  --clr-7-025: rgba(73, 80, 87, 0.25);
  --clr-8-025: rgba(52, 58, 64, 0.25);
  --clr-9-025: rgba(33, 37, 41, 0.25);
  --clr-10-025: rgba(7, 7, 7, 0.25);

  /* solid red */
  --clr-0-R: #ffc800;
  --clr-1-R: #ffb400;
  --clr-2-R: #ffa000;
  --clr-3-R: #ff8c00;
  --clr-4-R: #ff7800;
  --clr-5-R: #ff6400;
  --clr-6-R: #ff5000;
  --clr-7-R: #ff3c00;
  --clr-8-R: #ff2800;
  --clr-9-R: #ff1400;
  --clr-10-R: #ff0000;
}
