#darkMode {
  background: transparent url(../../../public/moon.png) no-repeat center;
  background-size: 30px 30px;
  width: 45px;
  height: 45px;
  filter: grayscale(100%);
  border-radius: 50%;
  border: none;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover {
  filter: none;
  background-color: #fff;
  cursor: pointer;
}
#darkMode.clicked {
  filter: none !important;
}
