.img{
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.card{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    margin-top: 10px;
}

.cardbody{
    margin: 0 auto;
    margin-bottom: 10px;
}
.div{
    display: flex;
    justify-content: center;
}