.gridContainer {
  display: grid;
  grid-template-columns: auto auto;
  margin: 7px;
  align-items: center;
  justify-items: center;
  background: var(--clr-0);
  border-radius: 14px;
  box-shadow: rgb(0 0 0 / 63%) 0px 20px 30px;
  border-right: 2.1px solid var(--clr-0-025);
  border-bottom: 2.1px solid var(--clr-0-025);
  aspect-ratio: 1/1.9;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  height: 35px;
  width: 90%;
  font-size: 21px;
  font-weight: 500;
  color: var(--clr-7-R);
  border-bottom: 0.5px dashed var(--clr-10-025);
}
.item2 {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 7px;
}
.prodImg {
  width: 90%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.item3 {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 70px;
  width: 90%;
  font-size: 17px;
  font-weight: 700;
  text-align: justify;
  color: var(--clr-7-R);
  margin-top: 5px;
  margin-bottom: 5px;
}

.item6 {
  grid-column-start: 1;

  height: 21px;
  text-decoration: line-through;
  font-size: 14px;
}
.item7 {
  grid-row-start: 6;
  grid-row-end: 9;
  font-size: 14px;
}
.item8 {
  height: 21px;
  color: var(--clr-7-R);
  font-size: 17px;
}
.item9 {
  height: 21px;
  font-size: 14px;
}
.item10 {
  height: 21px;
  font-size: 14px;
}
.item11 {
  height: 21px;
  font-size: 14px;
}
