.container {
  height: 91px;
  display: flex;
  margin-top: 21px;
  margin-bottom: 21px;
  justify-content: space-around;
  align-items: center;
  background: var(--clr-0);
  border-radius: 14px;
  box-shadow: rgb(0 0 0 63%) 0px 20px 30px;
  border-right: 2.1px solid var(--clr-0-025);
  border-bottom: 2.1px solid var(--clr-0-025);
}

.format {
  aspect-ratio: initial;
}

.format img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.format img:active {
  transform: scale(1.1);
  transition: 0.5s;
}