.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 21px;
  margin-bottom: 21px;
  width: 100%;
  justify-content: space-between;
  margin-left: 0;
}



.format {
  width: 100%;
  height: 100%;
}

.format img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.format img:active {
  transform: scale(1.1);
  transition: 0.5s;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .format {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .format img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .format img:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
}

@media (max-width: 768px) {
  .format img:active {
    transform: scale(1.1);
    transition: 0.5s;
  }
}

@media (max-width: 768px) {
  .container img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 21px;
    margin-bottom: 21px;
    width: 100%;
    justify-content: space-between;
    margin-left: 0;
  }
}


