.div{
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;

}

.div1{
    display: flex;
    flex-direction: row;
    align-items: center;

   
}
.label{
    display: flex;
    flex-direction: column;
    margin: 2px;
}
.p{
    font-size: 10px;
}
.botton{
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.h3{
    font-size: 15px;
}